body {
  font-family: sans-serif;
  background: #e5ffff;
}

.top {
  display: flex;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
}

.name-card {
  margin-right: 1em;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 5px 5px #81b9bf;
  background: #b2ebf2;
}
.name-card h1 {
  margin: 0;
  font-size: xxx-large;
}
.name-card h2 {
  margin: 0;
  font-size: x-large;
}

.about-me-button {
  margin-top: 15px;
  border: 0;
  border-radius: 20px;
  font-size: medium;
  font-weight: bolder;
  padding: 1em;
  background: #81b9bf;
  transition: 0.3s;
}
.about-me-button:hover {
  background: white;
}
.about-me-button:active {
  opacity: 0.5;
}

.front-pic {
  width: 30%;
  height: auto;
  object-fit: contain;
  border-radius: 30px;
  box-shadow: 10px 10px #81b9bf;
}

.about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me div {
  max-width: 500px;
  margin: 20px;
  padding: 1em;
  border-radius: 30px;
  box-shadow: 10px 10px #81b9bf;
  background: #b2ebf2;
}
.about-me h1 {
  margin-top: 10px;
  font-size: xxx-large;
}
.about-me h2 {
  font-size: xx-large;
}
.about-me p {
  font-size: large;
}

.projects-header {
  margin: 1em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects div {
  max-width: 500px;
  margin-bottom: 40px;
  padding: 1em;
  border-radius: 30px;
  box-shadow: 10px 10px #81b9bf;
  background: #b2ebf2;
}
.projects h2 {
  margin-top: 10px;
}

button {
  border: 0;
  border-radius: 20px;
  font-size: medium;
  font-weight: bolder;
  padding: 1em;
  background: #81b9bf;
  transition: 0.3s;
}
button:hover {
  background: white;
}
button:active {
  opacity: 0.5;
}

.skillset {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillset h1 {
  text-align: center;
}

.skillset div {
  width: 80%;
  margin: 20px;
  padding: 1em;
  border-radius: 30px;
  box-shadow: 10px 10px #81b9bf;
  background: #b2ebf2;
}

.skillset ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  font-size: large;
}